.list{
  .active{
    background-color: #fc0;
    color: #fff;
  }
  .name-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1rpx solid #000;
    .name{
      width: 50%;
      text-align: center;
      font-size: 26rpx;
    }
  }
  .text-box{
    .text{
      font-size: 26rpx;
    }
  }
}

.box{
  margin-top: 40rpx;
  .li{
    border-bottom: 1rpx solid #ccc;
    .name{
      background-color: #fc0;
      color: #fff;
      font-size: 26rpx;
    }
    .text{
      font-size: 26rpx;
    }
  }
}
