.list{
  .active{
    background-color: #fc0;
    color: #fff;
  }
  .name-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1rpx solid #000;
    .name{
      padding: 14rpx 0;
      width: 50%;
      text-align: center;
      font-size: 26rpx;
    }
  }
  .text-box{
    .text{
      font-size: 26rpx;
    }
  }
}

.box{
  margin: 40rpx 0;
  .li{
    border-bottom: 1rpx solid #ccc;
    .name{
      padding: 14rpx 0;
      background-color: #fc0;
      color: #fff;
      text-align: center;
      font-size: 26rpx;
    }
    .text{
      font-size: 26rpx;
    }
  }
}

.text{
  margin-top: 20rpx;
  text-align: center;
  font-size: 26rpx;
}
.btn-box{
  text-align: center;
  .btn{
    margin-top: 20rpx;
    border-radius: 0;
  }
}
